// Hide Stuff
.u-hide {display: none !important;}

@include media(palm) {
  .u-hide--palm {display: none !important;}
}

// Typography Utilities
.u-italic {font-style: italic !important;}
.u-bold {font-weight: 500 !important;}
.u-alignLeft {text-align: left !important;}
.u-lowercase {text-transform: lowercase !important;}
.u-uppercase {text-transform: uppercase !important;}
.u-small {font-size: 70% !important;}
.u-xsmall {font-size: 60% !important;}
.u-alignCenter {text-align: center !important;}
.u-alignRight {text-align: right !important;}

// Background Colours 
.u-background {background: $white-dark;}

// Padding 
.u-verticalPadding {
  padding: 65px 0;

  @include media(palm) {
    padding: 30px 0;
  }
}

// Align Utilities
.u-floatRight {float: right !important;}
.u-floatLeft {float: left !important;}

// Flexbox Layout Classes
// .u-flexCenter {@include flex-center !important;}
// .u-flexStart {@include flex-start !important;}
// .u-flexEnd {@include flex-end !important;}
// .u-flexBetween {@include flex-between !important;}
// .u-flexBetweenBase {@include flex-betweenBase !important;}
// .u-flexAround {@include flex-around !important;}
// .u-flexColumn {@include flex-column !important;}

// Miscellaneous Utilities
.u-nowrap {white-space: nowrap !important;}
.u-disabled {cursor: not-allowed;}
.u-freezeScroll {overflow: hidden;}
