<sg-section>
  <a href="#buttons" class="sg-h1" id="buttons">Buttons</a>

  <a href="#buttons-default" class="sg-h4" id="buttons-default">Default Button</a>
  <sg-example>
    <a href="#" class="button">Button</a>
  </sg-example>

  <a href="#buttons-alternate" class="sg-h4" id="buttons-alternate">Alternate Button</a>
  <sg-example>
    <a href="#" class="button button--alternate">Button</a>
  </sg-example>

  <a href="#buttons-small" class="sg-h4" id="buttons-small">Small Button</a>
  <sg-example>
    <a href="#" class="button button--small">Button</a>
  </sg-example>

  <a href="#buttons-disabled" class="sg-h4" id="buttons-disabled">Disabled Button</a>
  <sg-example>
    <button class="button" disabled>Button</button>
  </sg-example>

  <a href="#buttons-indicator" class="sg-h4" id="buttons-indicator">Button with Indicator</a>
  <sg-example>
    <a href="#" class="button">
      <span class="button-indicator">26</span>
      Button
    </a>
  </sg-example>

  <a href="#buttons-indicatorAlt" class="sg-h4" id="buttons-indicatorAlt">Alternate Button with Indicator</a>
  <sg-example>
    <a href="#" class="button button--alternate">
      <span class="button-indicator">26</span>
      Button
    </a>
  </sg-example>
</sg-section>
