<sg-section>
  <a href="#basketSteps" class="sg-h1" id="basketSteps">Basket/Checkout Step Indicator</a>
  <sg-example>
    <sg-container style="background: #00476B;display: block;width: 100%;padding: 68px 0 50px;text-align: center;">
      <h1>Your Basket</h1>
      <ol class="basketSteps">
          <li class="basketSteps-step">Review</li>
          <li class="basketSteps-step">Information</li>
          <li class="basketSteps-step">Payment</li>
      </ol>
    </sg-container>
  </sg-example>
</sg-section>
