<sg-section>
  <a href="#bem" class="sg-h1" id="bem">BEM</a>
  <sg-p>The World Vision styles are built using <a href="http://sass-lang.com/" target="_blank">Sass</a> and follow a variation of the <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" target="_blank">Block Element Modifier (BEM) naming convention</a>.</sg-p>

  <a href="#bem-block" class="sg-h4" id="#bem-block">Block</a>
  <sg-code>.carousel</sg-code>
  <sg-p>A block is synonymous with a component, and represents a basic building block of the website. A button, card, sidebar, or carousel would all be examples of blocks. Blocks <strong>never contain dashes</strong> and instead use camelCase if multiple words are needed.</sg-p>

  <a href="#bem-element" class="sg-h4" id="#bem-element">Element</a>
  <sg-code>.carousel-slideLeft</sg-code>
  <sg-p>Elements are the individual parts inside of a block. For example, a carousel block might have slide left, slide right, and indicator elements. Elements <strong>always contain a single dash</strong> and are prefixed with the block name.</sg-p>

  <a href="#bem-modifier" class="sg-h4" id="#bem-modifier">Modifier</a>
  <sg-code>.carousel--large</sg-code>
  <sg-p>Modifiers are generally applied to blocks and alter the block's default appearance in some way. For example you might have a modifier to define a secondary button style. Similar to elements, modifiers are always prefixed with the block name but <strong>contain a double dash</strong>.</sg-p>
</sg-section>
