<sg-section>
  <a href="#cattags" class="sg-h1" id="cattags">Category Tags</a>
  <sg-example>
    <div class="catTag catTag--sponsor">Sponsorship</div>
    <div class="catTag catTag--featCause">Featured Cause</div>
    <div class="catTag catTag--gift">Gift Catalogue</div>
    <div class="catTag catTag--donation">Donation</div>
  </sg-example>
</sg-section>
