<sg-section>
  <a href="#colours" class="sg-h1" id="colours">Colours</a>
  <sg-swatch style="border-color: #CC6600">$orange-dark</sg-swatch>
  <sg-swatch style="border-color: #ff6600">$orange</sg-swatch>
  <sg-swatch style="border-color: #00476B">$blue-dark</sg-swatch>
  <sg-swatch style="border-color: #006699">$blue</sg-swatch>
  <sg-swatch style="border-color: #6699CC">$blue-light</sg-swatch>
  <sg-swatch style="border-color: #999900">$green</sg-swatch>
  <sg-swatch style="border-color: #D0021B">$red</sg-swatch>
</sg-section>
