<sg-section>
  <a href="#modals" class="sg-h1" id="modals">Modals</a>
  <sg-example>
    <div class="modal">
      <div class="modal-trigger button">Open Default Modal</div>
      <div class="modal-overlay">
        <div class="modal-content">
          <div class="modal-close">Cancel</div>
          Modal Content
        </div>
      </div>
    </div>

    <div class="modal modal--narrow">
      <div class="modal-trigger button">Open Narrow Modal</div>
      <div class="modal-overlay">
        <div class="modal-content">
          <div class="modal-close">Cancel</div>
          Narrow Modal Content
        </div>
      </div>
    </div>
  </sg-example>
</sg-section>
