<sg-section>
  <a href="#rangeSlider" class="sg-h1" id="rangeSlider">Range Slider</a>
  <sg-example>
    <div class="grid grid--center">
      <div class="grid-1of3">
        <div class="rangeSlider" min="1" max="17"></div>
      </div>
      <div class="grid-1of3">
        <div class="rangeSlider" min="5" max="10"></div>
      </div>
    </div>
  </sg-example>
</sg-section>
