<sg-section>
  <a href="#regionBlock" class="sg-h1" id="regionBlock">Region Block</a>
  <sg-example full-width>
    <div class="regionBlock">

      <div class="regionBlock-info">
        <div class="regionBlock-title">Nepal</div>
        <div class="regionBlock-subtitle">South Asia</div>
      </div>

      <div class="regionBlock-map" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?size=600x600&key=AIzaSyDPpyyNBsUThWttQc2QOzq2xsoyP4XLxAk&zoom=7&center=Nepal)"></div>

      <div class="regionBlock-photo" style="background-image: url(http://www.worldbank.org/content/dam/photos/780x439/2016/mar-31/rebuilding-nepal-twitter-1.jpg)">
        <img class="regionBlock-tagline" src="{{ 'this-is-my-world.png' | asset_url }}" alt="">
      </div>

      </div>
    </div>
  </sg-example>
</sg-section>
