<sg-section>
  <a href="#sg-searchResults" class="sg-h1" id="sg-searchResults">Search Results</a>
  <sg-example>
    <ul class="searchResults">
      <li class="searchResults-item">
        <a href="#">
          <h3 class="searchResults-heading">End child poverty</h3>
          <p class="searchResults-description">Hunger is a force that is causing suffering for millions of children all over the world.</p>
          <div class="catTag catTag--featCause">Featured Cause</div>
        </a>
      </li>
      <li class="searchResults-item">
      <a href="#">
        <h3 class="searchResults-heading">Raw hope</h3>
        <p class="searchResults-description">Raw hope brings hope and support to children in the world's most dangerous places. The ongoing Syrian crisis has left an estimated ...</p>
        <div class="catTag catTag--donation">Donation</div>
      </a>
      </li>
    </ul>
  </sg-example>
</sg-section>
