<sg-section>
  <a href="#siteHeader" class="sg-h1" id="siteHeader">Site Header</a>
  <sg-example full-width>
    <header class="siteHeader">
      <div class="siteHeader-topbar">
        <div class="container">
          <div class="combo combo--rev combo--full">
            <div class="combo-first">
              <a href="#" class="siteHeader-topItem">中文</a>
              <a href="#" class="siteHeader-topItem">Français</a>
            </div>
            <div class="combo-last">
              <a href="#" class="siteHeader-topItem">Login</a>
              <a href="#" class="siteHeader-topItem">Customer Service</a>
            </div>
          </div>
        </div>
      </div>

      <div class="siteHeader-main">
        <div class="container">
          <div class="combo combo--middle combo--full">
            <div class="combo-first">
              <img class="siteHeader-logo" src="{{ 'logo.png' | asset_url }}" alt="">
            </div>
            <div class="combo-last">
              <div class="combo combo--rev combo--middle combo--full">
                <div class="combo-first">
                  <nav class="siteHeader-nav">
                    <div class="siteHeader-navExtra">
                      <div class="grid grid--full">
                        <div class="grid-1of2">
                          <a href="#" class="siteHeader-navItem siteHeader-navItem--flushLeft">Login</a>
                        </div>
                        <div class="grid-1of2">
                          <a href="#" class="siteHeader-navItem siteHeader-navItem--flushRight">Customer Service</a>
                        </div>
                      </div>
                      <div class="grid grid--full">
                        <div class="grid-1of2">
                          <a href="#" class="siteHeader-navItem siteHeader-navItem--flushLeft">中文</a>
                        </div>
                        <div class="grid-1of2">
                          <a href="#" class="siteHeader-navItem siteHeader-navItem--flushRight">Français</a>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="siteHeader-navItem">Our Work</a>
                    <a href="#" class="siteHeader-navItem siteHeader-navItem--active">Sponsor a Child</a>
                    <a href="#" class="siteHeader-navItem">Donate</a>
                    <a href="#" class="siteHeader-navItem">Get Involved</a>
                    <a href="#" class="siteHeader-navItem">About Us</a>
                    <a href="#" class="siteHeader-navItem">My WorldVision</a>
                  </nav>
                </div>
                <div class="combo-last">
                  <svg class="siteHeader-searchToggle"><use xlink:href="#icon--search"></use></svg>

                  <div class="siteHeader-hamburger">
                    <div class="siteHeader-hamburgerInner"></div>
                  </div>
                  <a href="#" class="button button--small button--alternate siteHeader-basket">
                    <svg class="siteHeader-basketIcon"><use xlink:href="#icon--basket"></use></svg>
                    <span class="siteHeader-basketText">
                      My Basket
                    </span>
                    <span class="button-indicator">2</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="siteHeader-searchBar">
        <div class="container">
          <div class="combo combo--rev combo--full">
            <div class="combo-first">
              <div class="siteHeader-searchInput">
                <svg class="siteHeader-searchIcon"><use xlink:href="#icon--search"></use></svg>
                <input type="text" placeholder="Search" />
              </div>
            </div>
            <div class="combo-last">
              <div class="siteHeader-searchInstructions">
                Press ENTER to search again, or
              </div>
              <a href="#" class="siteHeader-searchButton button">Search</a>
            </div>
          </div>
        </div>
      </div>

    </header>
  </sg-example>
</sg-section>
