<sg-section>
  <a href="#sliders" class="sg-h1" id="sliders">
    Sliders
  </a>

  <a href="#sliders-standard" class="sg-h3" id="sliders-standard">
    Standard Slider
  </a>
  <sg-example>
    <ul class="standardSlider">
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
    </ul>
  </sg-example>

  <a href="#sliders-padded" class="sg-h3" id="sliders-padded">
    Standard Padded Slider
  </a>
  <sg-example>
    <ul class="standardSlider standardSlider--padded">
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
    </ul>
  </sg-example>

  <a href="#sliders-alternate" class="sg-h3" id="sliders-alternate">
    Alternate Slider
  </a>
  <sg-example>
    <ul class="alternateSlider">
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
      <li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum eos magni placeat architecto quia ipsa dolore minima qui quibusdam atque accusamus cumque et voluptas aliquid soluta quam, veniam esse libero. </li>
    </ul>
  </sg-example>

</sg-section>
