<sg-section>
  <a href="#testimonials" class="sg-h1" id="testimonials">Testimonials</a>
  <sg-example>
  <div class="testimonial">
    <blockquote>"Sponsoring a child has given me the opportunity to make a big impact in my sponsored child's life."</blockquote>
    <div class="testimonial-citeBlock">
      {{ 'testimonial-temp.jpg' | asset_url | img_tag: 'Shirley Jackson' }}
      <div class="testimonial-citeBlock-textWrap">
        <h5>Shirley Jackson</h5>
        <h6>Toronto, Ontario</h6>
      </div>
    </div>
  </div>
  </sg-example>
</sg-section>
