<sg-section>
  <a href="#typography" class="sg-h1" id="typography"> Typography </a>

  <a href="#headings" class="sg-h3" id="headings"> Headings </a>
  <sg-example>
    <sg-headings>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </sg-headings>
  </sg-example>

  <a href="#paragraphs" class="sg-h3" id="paragraphs"> Paragraphs </a>
  <sg-example>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odit, labore delectus nobis animi ea modi facere suscipit, perspiciatis repellat ipsum id ratione obcaecati eius, eos magni error eveniet quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur natus distinctio officiis vel cumque assumenda, amet ipsa tempora porro debitis velit dolor illo corporis ducimus dolorum ab quia voluptatibus consequatur!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, nulla. Eligendi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam asperiores labore vitae, molestias harum eaque officiis dicta amet rerum quis nesciunt provident fugiat quas saepe praesentium nam, sapiente veniam modi? tempora neque ullam, molestiae, assumenda animi? Praesentium sunt voluptas maxime autem sed accusantium ab error fuga aperiam, fugit et.</p>
    <p>This text has this <strong>strong or bold text</strong> as well as some <em>italic or otherwise known as 'emphsized' text right here</em>.</p>
    <p class="p--finePrint">This is the fine print. You should always read the fine print! But it's fine, if you don't - or is it?!</p>
  </sg-example>

  <a href="#blockquotes" class="sg-h3" id="blockquotes"> Blockquotes </a>
  <sg-example>
    <blockquote>"Sponsoring a child has given me the opportunity to make a big impact in my sponsored child's life."</blockquote>
    <blockquote>
      "This is a blockquote with a cite nested inside it"
      <cite>Mandy Thomson</cite>
    </blockquote>
    <blockquote class="blockquote--styled">This is an example of a styled quote. It has a class of styledQuote and it appears on the sponsorship page. This will need some liquid logic later to pull in the name of the selected sponsor child.</blockquote>
  </sg-example>

  <a href="#textLinks" class="sg-h3" id="textLinks">Text Links</a>

  <a href="#textLinks-default" class="sg-h4" id="textLinks-default">Default Text Link</a>
  <sg-example>
    <a href="#" class="textLink">Text Link</a>
  </sg-example>

  <a href="#textLinks-alternate" class="sg-h4" id="textLinks-alternate">Alternate Text Link</a>
  <sg-example>
    <a href="#" class="textLink textLink--alternate">Text Link</a>
  </sg-example>

  <a href="#textLinks-scroll" class="sg-h4" id="textLinks-scroll">Scroll Down Text Link</a>
  <sg-example>
    <sg-placeholder>
      <a href="#" class="textLink textLink--scrollDown">Text Link</a>
    </sg-placeholder>
  </sg-example>

  <a href="#textLinks-back" class="sg-h4" id="textLinks-back">Back Text Link</a>
  <sg-example>
    <a href="#" class="textLink textLink--back">Text Link</a>
  </sg-example>

  <a href="#textLinks-callout" class="sg-h4" id="textLinks-callout">Callout Back Text Link</a>
  <sg-example>
    <sg-placeholder>
      <a href="#" class="textLink textLink--backCallout">Text Link</a>
    </sg-placeholder>
  </sg-example>
</sg-section>
