<div class="heroBlock heroBlock--fade" style="background-image: url({{ 'ODN-heroBottom-@2x.jpg' | asset_img_url: '1440x' }});">
  <div class="card">
    <h2 class="card-heading">Make a Lasting Impact on a Child's Life</h2>
    <p>When you sponsor a child you sponsor an entire community.</p>
    <button>Sponsor a child</button>
  </div>
</div>