<div class="heroBlock heroBlock--fade" style="background-image: url({{ 'ODN-header-@2x.jpg' | asset_img_url: '1440x' }});">
  <div class="card">
    <h2 class="card-heading">Every Donation Matters</h2>
    <p>Give where it's most needed and make and impact in a community.</p>
    <div class="grid">
      <div class="grid1of2">
        <div class="formGroup">
          <input class="input--quantityInput" type="text">
          <span class="span--quantityInput">$</span>
        </div>
      </div>
      <div class="grid1of2">
        <div class="formGroup">
          <label class="label-checkRadio label-checkbox">
            Make it monthly
            <input type="checkbox">
            <span class="checkbox"></span>
          </label>
        </div>
      </div>
    </div>  
    <button>Donate Today</button>
  </div>
</div>